

.advantages{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  &-section{
    background: $orangey-yellow;
    overflow: hidden;
  }

  &__left{
		width: 50%;
		padding-left: 5rem;
  }
  &__right{
	  width: 50%;
	  padding-left: 10rem;
  }


  &__title{
    color: #0f0f0f;
    letter-spacing: -0.06rem;
    em{
      color: $white;
    }
  }
  &__subtitle{
    font-size: 2.6rem;
    line-height: 1.38;
	color: #0f0f0f;
	margin-top: 2rem;
  }
  &__item{
    display: flex;
	align-items: center;
	margin: 0 auto 4rem auto;
	min-height: 5rem;
    &-icon{
      width: 4rem;
      margin-right: 2rem;
      text-align: center;
      @media (max-width: 425px){
        margin-right: 2rem;
      }
      img{
        display: block;
      }
    }
    &-text{
      font-size: 2.6rem;
      color: $white;
      text-transform: uppercase;
      transform: translateY(.2rem);
      em{
        color: #221e1f;
      }
    }
  }

	@include custom-bp(1300){
		max-width: 900px;
		&__left{
		width: 50%;
	}
	&__right{
		width: 40%;
		padding-left: 4rem;
	}
	}
	@include custom-bp(1300){
		max-width: 750px;
		&__left,
		&__right{
			width: 50%;
		}
	}
	@include custom-bp(768){
		flex-direction: column;
		text-align: center;
		&__title{
			text-align: center;
		}
		&__left,
		&__right{
			width: 100%;
			padding: 0 4rem;
		}

		&__items{
			max-width: 35rem;
			margin: 4rem auto 0 auto;
		}

	}
}