.advantages{
  display: flex;
  @media (max-width: 1023px){
    flex-wrap: wrap;
  }
  &-section{
    background: $orangey-yellow;
    overflow: hidden;
    @media (max-width: 1023px){
      padding-bottom: 0;
    }
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      width: 50%;
      background: #fff;
      @media (max-width: 1023px){
        display: none;
      }
    }
  }
  &__left{
    position: relative;
    max-width: 58rem;
    padding-right: 14rem;
    z-index: 3;
    @media (max-width: 1199px){
      max-width: 52rem;
      padding-right: 10rem;
    }
    @media (max-width: 1023px){
      max-width: 100%;
      padding-right: 0;
      margin-bottom: 7rem;
    }
  }
  &__title{
    color: #0f0f0f;
    letter-spacing: -0.06rem;
    margin-bottom: .5rem;
    em{
      color: $white;
    }
  }
  &__subtitle{
    font-size: 2.6rem;
    line-height: 1.38;
    color: #0f0f0f;
    margin-bottom: 6rem;
  }
  &__item{
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    &-icon{
      width: 4rem;
      margin-right: 3rem;
      text-align: center;
      @media (max-width: 425px){
        margin-right: 2rem;
      }
      img{
        display: block;
      }
    }
    &-text{
      font-size: 2.6rem;
      color: $white;
      text-transform: uppercase;
      transform: translateY(.2rem);
      em{
        color: #221e1f;
      }
    }
  }
  &__right{
    position: relative;
    width: calc(100% - 58rem);
    @media (max-width: 1199px){
      width: calc(100% - 52rem);
    }
    @media (max-width: 1023px){
      width: 100%;
      &::before {
        content: '';
        position: absolute;
        left: -300px;
        right: -300px;
        top: 0;
        bottom: 0;
        background: $white;
      }
    }
    @media (max-width: 767px){
        &::before{
          left: -15px;
          right: -15px;
        }
    }
  }
  &__img{
    display: block;
    position: absolute;
    bottom: -11rem;
    left: 2rem;
    max-width: 94rem;
    @media (max-width: 1499px){
      left: -14%;
    }
    @media (max-width: 1023px){
      position: relative;
      max-width: 100%;
      left: 0;
      bottom: 0;
      z-index: 3;
    }
  }
}