.tim-shirt-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    padding-top: 3rem;

    img{
        max-width: 100%;
        height: auto;
    }
}