.main-desc{
  max-width: 60rem;
  margin-left: auto;
  @media (max-width: 1023px){
    max-width: 100%;
  }
  &-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    @media (max-width: 1023px){
      background-image: none !important;
      background: $orangey-yellow;
    }
  }
  &__decor{
    display: block;
    width: 25rem;
    margin-bottom: 2rem;
  }
  &__title{
    letter-spacing: -.06rem;
    margin-bottom: 2rem;
  }
  &__text{

  }
}