.blog-article{
  &-section{
    padding-top: 24rem;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  &__cat{
    font-size: 2.2rem;
    line-height: 1.23;
    letter-spacing: 2.2px;
    text-align: left;
    color: $orangey-yellow;
    text-transform: uppercase;
    margin-right: 2rem;
  }
  &__date{
    font-size: 1.8rem;
    line-height: 1.33;
    text-transform: uppercase;
    color: #0f0f0f;
    margin-left: auto;
    em{
      position: relative;
      padding-left: 2rem;
      color: #5f5f5f;
      &::before {
        content: '';
        position: absolute;
        left: .8rem;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 2.9rem;
        background: #d5d5d5;
      }
    }
  }
  &__title{}
  &__info{
    &-top{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    &-left{
      width: calc(100% - 58rem);
      padding-right: 5rem;
    }
    &-img{
      width: 58rem;
      height: 40rem;
      img{
        @include img();
      }
    }
  }
}