@import "blog-article-text";
@import "blog-social";
@import "blog-other";

//date
.blog-date{
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: .08rem;
  text-transform: uppercase;
  background-color: $white;
  padding: .7rem 1rem;
  z-index: 2;
  &--white{
    color: #0f0f0f;
    em{
      color: #797979;
    }
  }
  &--dark{
    background: $black;
    em{
      color: #5f5f5f;
    }
  }
  &--big{
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

//blog-item
.blog-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__img{
    position: relative;
    width: 100%;
    height: 26.4rem;
    margin-bottom: 2.5rem;
    cursor: pointer;
    @media (max-width: 1199px){
      height: 23rem;
    }
    @media (max-width: 767px){
      height: 28rem;
    }
    img, video{
      @include img();
    }
    svg{
      width: 9rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  &__cat{
    display: block;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    line-height: 1.21;
    letter-spacing: 0.14rem;
    color: $orangey-yellow;
    text-transform: uppercase;
    @include transition();
  }
  &__title{
    display: block;
    font-size: 2.6rem;
    line-height: 1.38;
    margin-bottom: .7rem;
    color: inherit;
    @include transition();
    @media (min-width: 768px) {
      &:hover {
        color: $orangey-yellow;
      }
    }
  }
  &__text{
    font-family: 'Roboto', serif;
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 2.5rem;
  }
  &__more{
    position: relative;
    font-size: 1.5rem;
    line-height: 1.27;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: $orangey-yellow;
    margin-top: auto;
    @include transition();
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -.5rem;
      height: 1px;
      background: $orangey-yellow;
      @include transition();
    }
  }
  //modifications
  &--black{
    color: $black;
    .blog-item__text{
      color: #3c3c3c;
    }
    @media (min-width: 768px) {
      &:hover {
        .blog-item{
          &__more{
            color: $black;
            &::before{
              background: $black;
            }
          }
        }
      }
    }
  }
  &--white{
    color: $white;
    .blog-item__text{
      opacity: .6;
    }
    @media (min-width: 768px) {
      &:hover {
        .blog-item{
          &__more{
            color: $white;
            &::before{
              background: $white;
            }
          }
        }
      }
    }
  }
}