.activity-performance{
  &-section{
    padding: 9rem 0;
  }
  &__info{
    display: flex;
    align-items: flex-start;
    @media (max-width: 1023px){
      flex-direction: column;
      align-items: center;
    }
  }
  &__title{
    margin-bottom: 2rem;
  }
  &__subtitle{
    margin-bottom: 6rem;
    font-size: 2.2rem;
    line-height: 1.45;
    letter-spacing: 0.22rem;
    text-transform: uppercase;
    text-align: center;
    @media (max-width: 1023px){
      margin-bottom: 4rem;
    }
    i{
      color: #eb2422;
    }
  }
  &__part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    min-height: 45rem;
    padding-top: 3.5rem;
    @media (max-width: 1023px){
      min-height: auto;
    }
    &--small{
      justify-content: flex-start;
    }
    @media (max-width: 1199px){
      width: 28%;
    }
    @media (max-width: 1023px){
      width: 100%;
      max-width: 50rem;
      margin: 0 auto 3rem;
      padding-top: 0;
    }
    &--image{
      position: relative;
      width: 40%;
      padding: 0 4rem;
      @media (max-width: 1499px){
        padding: 0 3rem;
      }
      @media (max-width: 1199px){
        width: 44%;
        padding: 0 3rem;
      }
      @media (max-width: 1023px){
        width: 100%;
      }
      @media (max-width: 425px){
        padding: 0 1rem;
      }
    }
  }
  &__image{
    position: relative;
    max-width: 100%;
    max-height: 46rem;
    z-index: 4;
    @media (max-width: 1023px){
      margin-bottom: 3rem;
    }
    @media (max-width: 767px){
      max-height: 38rem;
    }
    @media (max-width: 375px){
      margin-bottom: 6rem;
    }
    &.ski{
      max-height: 360px;
      @media (max-width: 1499px){
        max-height: 300px;
        margin-bottom: 6rem;
        padding-top: 4rem;
      }
      @media (max-width: 1199px){
        max-height: 280px;
      }
      @media (max-width: 1023px){
        max-height: 310px;
        margin-bottom: 7rem;
      }
      @media (max-width: 425px){
        max-height: 290px;
        margin-bottom: 5rem;
      }
    }
  }
  &__swiss{
    position: absolute;
    z-index: 4;
    width: 3.8rem;
    &--run{
      right: 11rem;
      top: 21rem;
      @media (max-width: 1499px){
        right: 7.5rem;
        top: 20rem;
      }
      @media (max-width: 1023px){
        right: 10rem;
        top: 21rem;
      }
      @media (max-width: 425px){
        top: 22rem;
        right: 9rem;
      }
      @media (max-width: 360px){
        top: 21rem;
        right: 6rem;
      }
    }
    &--training{
      right: 11rem;
      top: 21rem;
      @media (max-width: 1499px){
        right: 7.5rem;
        top: 20rem;
      }
      @media (max-width: 1023px){
        right: 10rem;
        top: 21rem;
      }
      @media (max-width: 425px){
        right: 9rem;
      }
      @media (max-width: 350px){
        top: 19rem;
        right: 6rem;
      }
    }
    &--ski{
      right: 3rem;
      top: 26rem;
      @media (max-width: 1499px){
        right: 3.5rem;
        top: 20rem;
      }
      @media (max-width: 1023px){
        right: 4rem;
        top: 30rem;
      }
      @media (max-width: 425px){
        top: 23rem;
        right: 2rem;
      }
      @media (max-width: 350px){
        top: 21rem;
        right: 1rem;
      }
    }
    &--bike{
      right: 8rem;
      top: 25rem;
      @media (max-width: 1499px){
        right: 3.5rem;
        top: 20rem;
      }
      @media (max-width: 1023px){
        right: 4rem;
        top: 30rem;
      }
      @media (max-width: 425px){
        top: 23rem;
        right: 2rem;
      }
      @media (max-width: 350px){
        top: 21rem;
        right: 1rem;
      }
    }
  }
  &__circles{
    position: absolute;
    width: 35rem;
    left: 50%;
    top: 3rem;
    transform: translateX(-50%);
    @media (max-width: 1023px){
      width: 100%;
      max-width: 42rem;
    }
    @media (max-width: 425px){
      max-width: 34rem;
    }
  }
  &__bottom{
    font-size: 2.6rem;
    line-height: 1.38;
    text-align: center;
    color: #221e1f;
    padding-top: 5rem;
  }
  &__btn{
    &--desc{
      display: block;
      @media (max-width: 1023px){
        display: none;
      }
    }
    &--mob{
      display: none;
      @media (max-width: 1023px){
        display: block;
      }
    }
  }
  //ITEM
  &__item{
    display: flex;
    width: 100%;
    margin-bottom: 3.6rem;
    opacity: 0;
    &:last-child{
      margin-bottom: 0;
    }
    @media (max-width: 1023px){
      flex-direction: column;
    }
    &-icon{
      flex-shrink: 0;
      width: 4.6rem;
      //@media (max-width: 1023px){
      //  width: 4rem;
      //}
      @media (max-width: 1023px){
          order: -1;
        width: 4rem;
      }
      img, svg{
        max-width: 4.2rem;
        max-height: 4.2rem;
      }
    }
    &-desc{
      flex-grow: 1;
      @media (max-width: 1199px){
        padding: 0 !important;
      }
    }
    &-title{
      display: inline-block;
      max-width: 27rem;
      margin: 0 auto .5rem;
      position: relative;
    }
    &-text{
      font-family: 'Roboto';
      font-size: 1.4rem;
      line-height: 1.8;
      color: #3c3c3c;
      @media (max-width: 1199px){
        font-size: 1.5rem;
      }
    }
    &-tooltip{
      display: none;
      position: absolute;
      top: -1.7rem;
      p{
        position: absolute;
        width: 25rem;
        top: -0.5rem;
        padding: 2.5rem;
        font-family: 'Roboto';
        font-size: 1.3rem;
        line-height: 1.5;
        color: #3c3c3c;
        background: $white;
        box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.16);
        text-transform: none;
        opacity: 0;
        @include transition();
        //@media (max-width: 1023px){
        //  width: 20rem;
        //  padding: 1.5rem;
        //}
        @media (max-width: 1023px){
          font-size: 1.4rem;
          top: 5rem;
          left: 50% !important;
          right: auto !important;
          transform: translateX(-50%) !important;
        }
        &::before {
          content: '';
          position: absolute;
          z-index: 2;
          width: 0;
          height: 0;
          top: 1.8rem;
          border-style: solid;
        }
        &::after {
          content: '';
          position: absolute;
          height: .2rem;
          left: 0;
          right: 0;
          top: 0;
          background: $orangey-yellow;
        }
      }
    }
  }
}

//modifications
.activity-performance__item{
  &--left{
    text-align: right;
    @media (max-width: 1023px){
      text-align: center;
    }
    .activity-performance__item-desc{
      padding-left: 7rem;
    }
    .activity-performance__item-icon{
      margin-left: 1rem;
      @media (max-width: 1023px){
        margin: 0 auto 1rem;
      }
    }
    .activity-performance__item-tooltip{
      left: -2.4rem;
      p{
        text-align: left;
        right: calc(100% + 2rem);
        &::before{
          left: 100%;
          border-width: .8rem 0 .8rem 1.6rem;
          border-color: transparent transparent transparent $white;
        }
      }
      @media (max-width: 1023px){
        right: -2.4rem;
        left: auto;
        p{
          right: auto;
          left: calc(100% + 2rem);
          &::before{
            left: auto;
            right: 100%;
            border-width: .8rem 1.6rem .8rem 0;
            border-color: transparent $white transparent transparent;
          }
        }
      }
    }
  }
  &--right{
    text-align: left;
    @media (max-width: 1023px){
      text-align: center;
    }
    .activity-performance__item-desc{
      padding-right: 7rem;
    }
    .activity-performance__item-icon{
      margin-right: 1rem;
      @media (max-width: 1023px){
        margin: 0 auto 1rem;
      }
    }
    .activity-performance__item-tooltip{
      right: -2.4rem;
      p{
        left: calc(100% + 2rem);
        &::before{
          right: 100%;
          border-width: .8rem 1.6rem .8rem 0;
          border-color: transparent $white transparent transparent;
        }
      }
    }
  }
  &--center{
    display: block;
    text-align: center;
    .activity-performance__item-desc{
      padding: 1.5rem 4rem 0;
    }
    .activity-performance__item-icon{
      margin: 0 auto 1rem;
    }
    .activity-performance__item-tooltip{
      right: -2.4rem;
      p{
        text-align: left;
        left: calc(100% + 2rem);
        &::before{
          right: 100%;
          border-width: .8rem 1.6rem .8rem 0;
          border-color: transparent $white transparent transparent;
        }
      }
    }
  }
  &--tooltip{
    .activity-performance__item-tooltip{
      display: block;
    }
  }
}
.activity-performance__item-tooltip:hover{
  p{
    opacity: 1;
    z-index: 2;
  }
}