//title
.el-title{
  font-size: 5rem;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  sup{
	  font-size: 1.7rem;
  }
  @media (max-width: 1499px){
    font-size: 4.7rem;
  }
  @media (max-width: 425px){
    font-size: 4.4rem;
    br{
      display: none;
    }
  }
  &--left{
    text-align: left;
  }
  &--big{
    font-size: 6rem;
    @media (max-width: 1023px){
      font-size: 5.4rem;
    }
    @media (max-width: 600px){
      font-size: 5rem;
    }
    @media (max-width: 425px){
      font-size: 4.6rem;
    }
  }
  &--black{
    color: $black;
    i{
      color: $white;
    }
  }
  &--black-orange{
    color: $black;
    i{
      color: $orangey-yellow;
    }
  }
  &--white{
    color: $white;
    i{
      color: $orangey-yellow;
    }
  }
  &--orange{
    color: $orangey-yellow;
    i{
      color: $black;
    }
  }

  //Text Transform
  &--uppercase{
	  text-transform: uppercase;
  }
}

.el-subtitle{
	font-size: 3rem;
	line-height: 1.33;
	letter-spacing: -0.03rem;
	text-transform: uppercase;
    @media (max-width: 425px) {
      font-size: 2.6rem;
      br {
        display: none;
      }
    }
	&--black-orange{
		color: $black;
		i{
			color: $orangey-yellow;
		}
	}
}


//social
.socials{
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  &__item{
    display: block;
    margin: 0 .7rem;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  span{
    width: 1px;
    margin: 0 auto;
    flex-grow: 1;
    background: rgba($white, .2);
    &:first-of-type{
      margin-bottom: 1.2rem;
    }
    &:last-of-type{
      margin-top: 1.2rem;
    }
  }
  &__contacts{
    font-size: 1.8rem;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 2rem;
  }
  svg{
    path{
      fill: none;
      stroke: $white;
    }
    .cls-2{
      fill:#fff;
      stroke: none;
    }
  }
}

//main-nav
.main-nav{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 999999;
  transform: translateY(-50%);
  @media (max-width: 767px){
    display: none;
  }
  &__item{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 3rem;
    color: rgba(#fff, 0.2);
    padding-right: 5rem;
    letter-spacing: 0.032rem;
    text-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(#fff, 0.2);
    margin-bottom: 3rem;
    text-decoration: none;
    @media (min-width: 768px) {
      &:hover {
        text-decoration: none;
        color: rgba(#fff, 0.2);
      }
    }
  }
  &__number{
    display: inline-block;
    width: 2.6rem;
    flex-shrink: 0;
  }
  &__title{
    display: inline-block;
    width: 0;
    overflow: hidden;
  }
}

//sliderArrow
.slider-arrow{
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 4.2rem;
  position: absolute;
  background: $orangey-yellow;
  cursor: pointer;
  @include transition();
  @media (min-width: 768px) {
    &:hover {
      background: $black;
    }
  }
  &--prev{
    svg{
      transform: scale(-1,1);
    }
  }
}

//date
.blog-date{
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: .08rem;
  text-transform: uppercase;
  background-color: $white;
  padding: .7rem 1rem;
  z-index: 2;
  &--white{
    color: #0f0f0f;
    em{
      color: #797979;
    }
  }
  &--dark{
    background: $black;
    em{
      color: #5f5f5f;
    }
  }
  &--big{
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

//blog-item
.blog-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__img{
    position: relative;
    width: 100%;
    height: 26.4rem;
    margin-bottom: 2.5rem;
    cursor: pointer;
    @media (max-width: 1199px){
      height: 23rem;
    }
    @media (max-width: 767px){
      height: 28rem;
    }
    img{
      @include img();
    }
  }
  &__cat{
    display: block;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    line-height: 1.21;
    letter-spacing: 0.14rem;
    color: $orangey-yellow;
    text-transform: uppercase;
  }
  &__title{
    display: block;
    font-size: 2.6rem;
    line-height: 1.38;
    margin-bottom: .7rem;
  }
  &__text{
    font-family: 'Roboto', serif;
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 2.5rem;
  }
  &__more{
    position: relative;
    font-size: 1.5rem;
    line-height: 1.27;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: $orangey-yellow;
    margin-top: auto;
    @include transition();
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -.5rem;
      height: 1px;
      background: $orangey-yellow;
      @include transition();
    }
  }
  //modifications
  &--black{
    color: $black;
    .blog-item__text{
      color: #3c3c3c;
    }
    @media (min-width: 768px) {
      &:hover {
        .blog-item{
          &__more{
            color: $black;
            &::before{
              background: $black;
            }
          }
        }
      }
    }
  }
  &--white{
    color: $white;
    .blog-item__text{
      opacity: .6;
    }
    @media (min-width: 768px) {
      &:hover {
        .blog-item{
          &__more{
            color: $white;
            &::before{
              background: $white;
            }
          }
        }
      }
    }
  }
}

//activeNav
.main-nav__item.active{
  .main-nav__title{
    width: 100%;
  }
}

//active sections
body[data-active='dark'] {
  .main-nav__item{
    &.active{
      color: $orangey-yellow;
      border-bottom: 1px solid $orangey-yellow;
      @media (min-width: 768px) {
        &:hover {
          color: $orangey-yellow;
        }
      }
    }
  }
}

body[data-active='orange']{
  .logo{
    #Fill_1{
      fill: $white;
    }
    g{
      fill: $white;
    }
  }
  .tog-nav{
    span{
      background: $white;
    }
  }
}

body[data-active='orange-white']{
  .logo{
    #Fill_1{
      fill: $white;
    }
    g{
      fill: $white;
    }
  }
  .tog-nav{
    border-bottom: .2rem solid $black;
    &::before, &::after{
      background: $black;
    }
  }
  @media (max-width: 1023px){
    .tog-nav{
      border-bottom: .2rem solid $white;
      &::before, &::after{
        background: $white;
      }
      span{
        background: $white;
      }
    }
  }
}

body[data-active='orange-black']{
  .logo{
    #Fill_1{
      fill: $white;
    }
    g{
      fill: $white;
    }
  }
  .tog-nav{
    border-bottom: 2px solid $white;
    &::before, &::after{
      background: $white;
    }
  }
}

body[data-active='white']{
  .logo{
    #Fill_1{
      fill: $orangey-yellow;
    }
    g{
      fill: $black;
    }
  }
  .tog-nav{
    border-bottom: 2px solid $black;
    &::before, &::after{
      background: $black;
    }
  }
}

body .header-section.bg {
  .logo{
    #Fill_1{
      fill: $orangey-yellow;
    }
    g{
      fill: $white;
    }
  }
  .tog-nav{
    span{
      background: $orangey-yellow;
    }
    //border-bottom: 2px solid $white;
    &::before, &::after{
      background: $white;
    }
  }
}

/* Orange Unordered list */

.nq-list{
	margin: 3rem 0 3rem 3rem;
	li{
		position: relative;
		@include body-font(m);
		font-size: 1.7rem;
		padding-left: 4rem;
		line-height: 2.1;


		&:before{
			content: '';
			position: absolute;
			top: 0.7rem;
			left: 0;
			width: 2rem;
			height: 2rem;
      		background: url('../img/tickmark.svg') no-repeat center center;
			background-size: cover;
		}
	}
	&--small{
		margin: 20px 0;
		li{
			font-size: 1.5rem;
			@include body-font(r);
			padding-left: 15px;
			

			&:before{
				width: 0.5rem;
				height: 0.5rem;
				border-radius: 0;
				top: 11px;
        		background-color: $orangey-yellow;
			}
		}
	}
	&--2column{
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
	}

	&--white{
		li{
			color: $white;
		}
  }
  
  @include custom-bp(768){
    margin: 4rem 2rem;
  }
}

sup{
	vertical-align: top;
}

.text-white{
	color: $white;
}
.text-center{
  text-align: center;
}

//MAP
.map {
  width: 100%;
  height: 35rem;
  position: relative;
  z-index: 2;
  @media (max-width: 425px){
    height: 30rem;
  }
  iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
