@font-face {
	font-family: 'Roboto';
	src: url('../../fonts/Roboto-Regular.eot');
	src: local('Roboto'), local('Roboto-Regular'),
	url('../../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/Roboto-Regular.woff2') format('woff2'),
	url('../../fonts/Roboto-Regular.woff') format('woff'),
	url('../../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Light.eot');
	src: local('Roboto Light'), local('Roboto-Light'),
	url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Light.woff2') format('woff2'),
	url('../fonts/Roboto-Light.woff') format('woff'),
	url('../fonts/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.eot');
	src: local('Roboto Medium'), local('Roboto-Medium'),
	url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Medium.woff2') format('woff2'),
	url('../fonts/Roboto-Medium.woff') format('woff'),
	url('../fonts/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}



@font-face {
	font-family: 'Fjalla One';
	src: url('../../fonts/FjallaOne-Regular.eot');
	src: local('Fjalla One'), local('FjallaOne-Regular'),
	url('../../fonts/FjallaOne-Regular.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/FjallaOne-Regular.woff2') format('woff2'),
	url('../../fonts/FjallaOne-Regular.woff') format('woff'),
	url('../../fonts/FjallaOne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


//Fonts Mixins

@mixin body-font($type: r) {
	font-family: 'Roboto';
	font-weight: normal;

	@if $type==l {
		font-weight: 300;
	}

	@else if $type==m {
		font-weight: 500;
	}
}

@mixin heading-font(){
	font-family: 'Fjalla One';
}
