//HEADER
.header-section{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 99;
  pointer-events: none;
  @media (max-width: 767px){
    pointer-events: all;
  }
  &.bg{
    pointer-events: all;
    background: rgba(#000, .9);
    @media (max-width: 767px){
      pointer-events: all;
      background: rgba(#000, .9);
    }
  }
  &--dark{
    background: $black;
  }
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 1.5rem 4.5rem;
  min-height: 12rem;
  @media (max-width: 1439px){
    padding: 1.5rem 1.5rem;
  }
}
//logo
.logo{
  width: 10rem;
  text-align: center;
  flex-shrink: 0;
  pointer-events: all;
  svg{
    display: block;
    width: 100%;
  }
  #Fill_1{
    fill: $orangey-yellow;
  }
  g{
    fill: $white;
  }
}
//menu
.main-menu-wrap{
  display: flex;
  align-items: center;
  margin-left: auto;
  opacity: 0;
  pointer-events: none;
  @include transition();
  &.show{
    pointer-events: all;
    opacity: 1;
  }
}
.main-menu{
  display: flex;
  align-items: center;
  margin-left: auto;
  li{
    @include transition();
    &.menu-item-has-children{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;
     span{
       position: absolute;
       right: .5rem;
       bottom: 2.5rem;
       border-style: solid;
       border-width: .7rem .4rem 0 .4rem;
       border-color: $white transparent transparent transparent;
     }
    }
  }
  a{
    font-family: inherit;
    @include transition();
  }
  > li{
    position: relative;
    > a{
      position: relative;
      padding: 2rem;
      color: $white;
      font-size: 1.8rem;
      text-transform: uppercase;
      letter-spacing: .18rem;
      line-height: 2rem;
      font-weight: 400;
    }
  }
}
//header toggle
.tog-nav{
  position: relative;
  width: 50px;
  height: 16px;
  border-bottom: 2px solid $white;
  margin-left: 2rem;
  cursor: pointer;
  pointer-events: all;
  &.active {
    border-color: transparent;
    span{
      display: none;
    }
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
      width: 35px;
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
      width: 35px;
    }
  }
  &::before, &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 2px;
    background: $white;
    transition: transform 0.3s;
  }
  span{
    position: absolute;
    top: -2px;
    left: 0;
    height: 2px;
    width: 50%;
    background: $orangey-yellow;
  }
}
//submenu
.sub-menu{
  position: absolute;
  right: 0;
  min-width: 25rem;
  top: 100%;
  white-space: nowrap;
  box-shadow: 0 4rem 8rem 0 rgba(0, 0, 0, 0.2);
  background-color: #1a1a1a;
  pointer-events: none;
  opacity: 0;
  @include transition();
  @media (max-width: 767px){
      pointer-events: all;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: .3rem;
    z-index: 3;
    background: $orangey-yellow;
  }
  &.opened{
    pointer-events: all;
    opacity: 1;
  }
  li{
    position: relative;
    border-bottom: 1px solid rgba(#fff, .1);
    cursor: pointer;
    &:last-of-type{
      border-bottom: 0;
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      right: 0;
      background-image: linear-gradient(to right, #000000 7%, rgba(0, 0, 0, 0) 90%);
      opacity: 0;
      @include transition();
    }
    @media (min-width: 768px) {
      &:hover {
        &::before{
          opacity: 1;
        }
        a{
          color: $orangey-yellow;
          padding-left: 4.8rem;
          &::before{
            opacity: 1;
          }
        }
      }
    }
  }
  a{
    position: relative;
    width: 100%;
    z-index: 2;
    font-family: inherit;
    color: $white;
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding: 2rem 3.5rem;
    @include transition();
    &::before {
      content: '';
      position: absolute;
      left: 2rem;
      top: 50%;
      transform: translateY(-50%);
      background: url('../img/arrow.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 1.85rem;
      height: 1.2rem;
      opacity: 0;
      @include transition();
    }
  }
}

//hover
@media (min-width: 768px){
  .main-menu a {
    &:hover {
      color: $orangey-yellow;
      text-decoration: none;
    }
  }
  .main-menu li.menu-item-has-children:hover{
    > a{
      color: $orangey-yellow;
    }
    span {
      border-color: $orangey-yellow transparent transparent transparent;
    }
    .sub-menu{
      pointer-events: all;
      opacity: 1;
    }
  }
}

//header mobile
@media (max-width: 767px) {
  .header-section{
    background: rgba(#000, .9);
  }
  .header{
    justify-content: flex-start;
  }
  .tog-nav {
    display: block;
    margin-left: auto;
    width: 40px;
  }
  .main-menu-wrap {
    display: none;
    z-index: 10001;
    position: absolute;
    margin: 0;
    left: 0;
    top: 100%;
    width: 100%;
    padding-bottom: 1rem;
    background: rgba(#000, .9);
    text-align: center;
    pointer-events: all;
    opacity: 1;
    transition: none;
  }
  .main-menu {
    display: block;
    > li {
      > a{
        color: $white;
        font-size: 2rem;
        padding: 2rem;
      }
      &.menu-item-has-children{
        > a {
          padding-right: 0;
        }
        span{
          position: relative;
          top: 0;
          bottom: 0;
          order: 1;
          margin-left: 2rem;
          border-width: .8rem .8rem 0 .8rem;
        }
      }
    }
  }
  //submenu
  .sub-menu{
    display: none;
    order: 2;
    width: 100%;
    position: relative;
    opacity: 1;
    transition: none;
  }
}

