h3,
h5,
h6{
    @include heading-font();

    &.black-orange{
        span{
            color: $orangey-yellow;
        }
    }
}
h3{
    font-size: 3.6rem;
}
h5{
    font-size: 2.6rem;
}
h6{
    font-size: 2.2rem;
}